<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 1.Spring的配置文件, 这里主要配置与业务逻辑有关的 -->
    <context:property-placeholder location="classpath:config/db.properties"/>

    <!--   配置数据源 -->
    <bean id="mysqlDataSource" class="com.alibaba.druid.pool.DruidDataSource"
          p:driverClassName="${mysql.driverClass}"
          p:url="${mysql.jdbcUrl}"
          p:username="${mysql.user}"
          p:password="${mysql.password}"
    />





</beans>